
<div style="text-align:center; margin: 0 auto;width:700px;padding-top:60px; border:thin; " class="well">
    <input type="button" class="btn btn-info" style="font-size:40px;padding:10px 20px" value="Admin" onclick="location.href='@Url.Action("Index", "Bus",new { role="Admin"})'" /><br /><br />
    <input type="button" class="btn btn-info" style="font-size:40px;padding:10px 35px" value="User" onclick="location.href='@Url.Action("Availability", "BusAvailability",new { role="User"})'" /><br /><br />
</div>

